---
layout: layouts/home.njk

---

<h1 style="margin-top:3rem;" class="center">About</h1>
<div class="outer-flex" style="text-align:center ; margin-bottom:0.5rem;" >
    <h2 style="margin-bottom: 2rem;">Youtube Channel</h2>
    <div class="video">
        <iframe type="text/html" width="560" height="315"
        src="https://www.youtube.com/embed/Yl_K2Ata6XY"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>></iframe>
        </div>
    <h2 style="margin-top: 2rem;">Reading list</h2>
        <div class="text-left-flex">
        <ul >
            <a href="/"><li>本</li></a>
            <a href="/"><li>論文</li></a>
            <a href="/"><li>ブログ</li></a>
            <a href="/"><li>動画</li></a>
            <a href="/"><li>映画</li></a>
            <a href="/movie"><li>音楽</li></a>
            <a href="/"><li>fine art</li></a>
            <a href="/"><li>fiction</li></a>
        </ul>
        </div>
    <h2 style="margin-top: 2rem;">Repo</h2>
    <address >
        https://github.com/mrdoob/three.js
    </address>
</div>