---
layout: layouts/home.njk

---

<h1 style="margin-top:3rem;" class="center">About</h1>
<div class="outer-flex" style="text-align:center ; margin-bottom:0.5rem;" >
    <h2 style="margin-bottom: 2rem;">Youtube Channel</h2>
    <div class="video">
        <iframe type="text/html" width="560" height="315"
        src="https://www.youtube.com/embed/Yl_K2Ata6XY"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>></iframe>
        </div>
    <h2 style="margin-top: 2rem;">Reading list</h2>
        <div class="text-left-flex">
        <ul >
            <li><a href="/books">本</a></li>
            <li><a href="/movie">映画</a></li>
            <li><a href="/movie">音楽</a></li>
            <li><a href="/movie">ブログ</a></li>
            <li><a href="/movie">論文</a></li>

        </ul>
        </div>
    <h2 style="margin-top: 2rem;">Repo</h2>
    <address style="margin-bottom: 1rem;" >
        <a href="https://github.com/aliens3/aliensGuide" target="_blank" rel="noopener noreferrer"> Github </a> 
    </address>
</div>